{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Lista użytkowników</h1>
    <a href="{{ path('user-create') }}">Dodaj użytkownika</a>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Rola</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>Usuń / Edytuj</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
